In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import OneHotEncoder
import requests
from bs4 import BeautifulSoup

In [2]:

dfs = []

# Loop through years from 2010 to 2023
for year in range(2021, 2024):
    filename = f"ATP_Matches/atp_matches_{year}.csv"
    df = pd.read_csv(filename)
    dfs.append(df)

dfs

[     tourney_id    tourney_name surface  draw_size tourney_level  \
 0     2021-0096  Tokyo Olympics    Hard         64             A
 1     2021-0096  Tokyo Olympics    Hard         64             A
 2     2021-0096  Tokyo Olympics    Hard         64             A
 3     2021-0096  Tokyo Olympics    Hard         64             A
 4     2021-0096  Tokyo Olympics    Hard         64             A
 ...         ...             ...     ...        ...           ...
 2728  2021-9210       Laver Cup    Hard          8             A
 2729  2021-9210       Laver Cup    Hard          8             A
 2730  2021-9210       Laver Cup    Hard          8             A
 2731  2021-9210       Laver Cup    Hard          8             A
 2732  2021-9210       Laver Cup    Hard          8             A

       tourney_date  match_num  winner_id  winner_seed winner_entry  ...  \
 0         20210724        237     126207          NaN          NaN  ...
 1         20210724        238     105526          NaN          NaN  ...
 2         20210724        239     111576          NaN          NaN  ...
 3         20210724        240     105357          NaN          NaN  ...
 4         20210724        241     207830          NaN          NaN  ...
 ...            ...        ...        ...          ...          ...  ...
 2728      20210924        102     126610          NaN          NaN  ...
 2729      20210924        103     106421          NaN          NaN  ...
 2730      20210924        104     126094          NaN          NaN  ...
 2731      20210924        105     100644          NaN          NaN  ...
 2732      20210924        106     134770          NaN          NaN  ...

      l_1stIn l_1stWon  l_2ndWon l_SvGms  l_bpSaved  l_bpFaced  winner_rank  \
 0        NaN      NaN       NaN     NaN        NaN        NaN         53.0
 1        NaN      NaN       NaN     NaN        NaN        NaN         48.0
 2        NaN      NaN       NaN     NaN        NaN        NaN        160.0
 3        NaN      NaN       NaN     NaN        NaN        NaN         44.0
 4        NaN      NaN       NaN     NaN        NaN        NaN        145.0
 ...      ...      ...       ...     ...        ...        ...          ...
 2728     NaN      NaN       NaN     NaN        NaN        NaN          7.0
 2729     NaN      NaN       NaN     NaN        NaN        NaN          2.0
 2730     NaN      NaN       NaN     NaN        NaN        NaN          5.0
 2731     NaN      NaN       NaN     NaN        NaN        NaN          4.0
 2732     NaN      NaN       NaN     NaN        NaN        NaN         10.0

      winner_rank_points loser_rank loser_rank_points
 0                1228.0       71.0             996.0
 1                1410.0       95.0             829.0
 2                 471.0      197.0             354.0
 3                1476.0       61.0            1106.0
 4                 525.0      137.0             570.0
 ...                 ...        ...               ...
 2728             5173.0       11.0            3368.0
 2729            10575.0       12.0            3310.0
 2730             6130.0       15.0            2800.0
 2731             7760.0       22.0            2171.0
 2732             3440.0       19.0            2341.0

 [2733 rows x 49 columns],
                             tourney_id                  tourney_name surface  \
 0                            2022-8888                       Atp Cup    Hard
 1                            2022-8888                       Atp Cup    Hard
 2                            2022-8888                       Atp Cup    Hard
 3                            2022-8888                       Atp Cup    Hard
 4                            2022-8888                       Atp Cup    Hard
 ...                                ...                           ...     ...
 2912  2022-M-DC-2022-WG2-PO-GRE-JAM-01  Davis Cup WG2 PO: GRE vs JAM    Clay
 2913  2022-M-DC-2022-WG2-PO-GRE-JAM-01  Davis Cup WG2 PO: GRE vs JAM    Clay
 2914  2022-M-DC-2022-WG2-PO-HKG-BEN-01  Davis Cup WG2 PO: HKG vs BEN    Hard
 2915  2022-M-DC-2022-WG2-PO-HKG-BEN-01  Davis Cup WG2 PO: HKG vs BEN    Hard
 2916  2022-M-DC-2022-WG2-PO-HKG-BEN-01  Davis Cup WG2 PO: HKG vs BEN    Hard

       draw_size tourney_level  tourney_date  match_num  winner_id  \
 0            16             A      20220103        300     200000
 1            16             A      20220103        299     133430
 2            16             A      20220103        298     105138
 3            16             A      20220103        297     105807
 4            16             A      20220103        296     106421
 ...         ...           ...           ...        ...        ...
 2912          4             D      20220304          4     209362
 2913          4             D      20220304          5     202065
 2914          4             D      20220304          1     138846
 2915          4             D      20220304          2     209409
 2916          4             D      20220304          4     208414

       winner_seed winner_entry  ... l_1stIn l_1stWon  l_2ndWon l_SvGms  \
 0             NaN          NaN  ...    50.0     32.0       7.0    10.0
 1             NaN          NaN  ...    33.0     21.0       8.0     9.0
 2             NaN          NaN  ...    80.0     62.0      20.0    16.0
 3             NaN          NaN  ...    27.0     17.0       1.0     7.0
 4             NaN          NaN  ...    35.0     22.0       4.0     8.0
 ...           ...          ...  ...     ...      ...       ...     ...
 2912          NaN          NaN  ...    68.0     42.0      12.0    10.0
 2913          NaN          NaN  ...    56.0     40.0      20.0    15.0
 2914          NaN          NaN  ...    54.0     29.0       8.0    11.0
 2915          NaN          NaN  ...    39.0     24.0       7.0    10.0
 2916          NaN          NaN  ...    34.0     24.0      13.0    10.0

       l_bpSaved  l_bpFaced  winner_rank winner_rank_points loser_rank  \
 0           3.0        5.0         11.0             3308.0       19.0
 1           3.0        6.0         14.0             2475.0       20.0
 2           6.0        7.0         19.0             2260.0        9.0
 3           4.0        8.0         20.0             2230.0      860.0
 4           3.0        7.0          2.0             8640.0       11.0
 ...         ...        ...          ...                ...        ...
 2912       11.0       13.0       1103.0                9.0     1130.0
 2913        4.0        8.0        808.0               23.0     1390.0
 2914        6.0       10.0       1059.0               10.0     1881.0
 2915        5.0        9.0       1050.0               10.0        NaN
 2916        5.0        8.0          NaN                NaN        NaN

      loser_rank_points
 0               2260.0
 1               2230.0
 2               3706.0
 3                 18.0
 4               3308.0
 ...                ...
 2912               8.0
 2913               4.0
 2914               1.0
 2915               NaN
 2916               NaN

 [2917 rows x 49 columns],
                             tourney_id                  tourney_name surface  \
 0                            2023-9900                    United Cup    Hard
 1                            2023-9900                    United Cup    Hard
 2                            2023-9900                    United Cup    Hard
 3                            2023-9900                    United Cup    Hard
 4                            2023-9900                    United Cup    Hard
 ...                                ...                           ...     ...
 2981  2023-M-DC-2023-WG2-PO-RSA-LUX-01  Davis Cup WG2 PO: RSA vs LUX     NaN
 2982  2023-M-DC-2023-WG2-PO-TUN-CYP-01  Davis Cup WG2 PO: TUN vs CYP     NaN
 2983  2023-M-DC-2023-WG2-PO-TUN-CYP-01  Davis Cup WG2 PO: TUN vs CYP     NaN
 2984  2023-M-DC-2023-WG2-PO-TUN-CYP-01  Davis Cup WG2 PO: TUN vs CYP     NaN
 2985  2023-M-DC-2023-WG2-PO-TUN-CYP-01  Davis Cup WG2 PO: TUN vs CYP     NaN

       draw_size tourney_level  tourney_date  match_num  winner_id  \
 0            18             A      20230102        300     126203
 1            18             A      20230102        299     126207
 2            18             A      20230102        296     126203
 3            18             A      20230102        295     126207
 4            18             A      20230102        292     126774
 ...         ...           ...           ...        ...        ...
 2981          4             D      20230204          5     202335
 2982          4             D      20230203          1     117365
 2983          4             D      20230203          2     121411
 2984          4             D      20230203          4     144949
 2985          4             D      20230203          5     121411

       winner_seed winner_entry  ... l_1stIn l_1stWon  l_2ndWon l_SvGms  \
 0             3.0          NaN  ...    62.0     47.0      15.0    12.0
 1             NaN          NaN  ...    12.0      8.0       3.0     4.0
 2             3.0          NaN  ...    62.0     51.0       7.0    12.0
 3             NaN          NaN  ...    41.0     26.0      12.0     9.0
 4             1.0          NaN  ...    58.0     48.0      18.0    16.0
 ...           ...          ...  ...     ...      ...       ...     ...
 2981          NaN          NaN  ...     NaN      NaN       NaN     NaN
 2982          NaN          NaN  ...     NaN      NaN       NaN     NaN
 2983          NaN          NaN  ...     NaN      NaN       NaN     NaN
 2984          NaN          NaN  ...     NaN      NaN       NaN     NaN
 2985          NaN          NaN  ...     NaN      NaN       NaN     NaN

       l_bpSaved  l_bpFaced  winner_rank winner_rank_points loser_rank  \
 0           9.0        9.0          9.0             3355.0       16.0
 1           1.0        3.0         19.0             2000.0       23.0
 2           2.0        2.0          9.0             3355.0       10.0
 3           6.0        9.0         19.0             2000.0      245.0
 4           1.0        2.0          4.0             5550.0       16.0
 ...         ...        ...          ...                ...        ...
 2981        NaN        NaN          NaN                NaN     1717.0
 2982        NaN        NaN        990.0               11.0      279.0
 2983        NaN        NaN        364.0              131.0      894.0
 2984        NaN        NaN        894.0               15.0      285.0
 2985        NaN        NaN        364.0              131.0      990.0

      loser_rank_points
 0               2375.0
 1               1865.0
 2               2905.0
 3                220.0
 4               2375.0
 ...                ...
 2981               1.0
 2982             190.0
 2983              15.0
 2984             184.0
 2985              11.0

 [2986 rows x 49 columns]]

In [3]:
# Load the merged DataFrame
merged_df = pd.concat(dfs, ignore_index=True)
# merged_df = merged_df.dropna()
merged_df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,2021-0096,Tokyo Olympics,Hard,64,A,20210724,237,126207,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,53.0,1228.0,71.0,996.0
1,2021-0096,Tokyo Olympics,Hard,64,A,20210724,238,105526,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,48.0,1410.0,95.0,829.0
2,2021-0096,Tokyo Olympics,Hard,64,A,20210724,239,111576,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,160.0,471.0,197.0,354.0
3,2021-0096,Tokyo Olympics,Hard,64,A,20210724,240,105357,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,44.0,1476.0,61.0,1106.0
4,2021-0096,Tokyo Olympics,Hard,64,A,20210724,241,207830,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,145.0,525.0,137.0,570.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8631,2023-M-DC-2023-WG2-PO-RSA-LUX-01,Davis Cup WG2 PO: RSA vs LUX,NaN,4,D,20230204,5,202335,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1717.0,1.0
8632,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,1,117365,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,990.0,11.0,279.0,190.0
8633,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,2,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,894.0,15.0
8634,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,4,144949,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,894.0,15.0,285.0,184.0
8635,2023-M-DC-2023-WG2-PO-TUN-CYP-01,Davis Cup WG2 PO: TUN vs CYP,NaN,4,D,20230203,5,121411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,364.0,131.0,990.0,11.0

In [4]:
# Dictionary of all players
player_profiles = {}

for index, row in merged_df.iterrows():
    winner_id = row['winner_id']
    loser_id = row['loser_id']
    match_details = {
        'tournament': row['tourney_name'],
        'surface': row['surface'],
        'score': row['score'],
        'minutes': row['minutes'],
        'winner': winner_id,
        'loser': loser_id
        # Add more match details as needed
    }

    total_w_aces = row['w_ace'] if not pd.isnull(row['w_ace']) else 0
    total_w_df = row['w_df'] if not pd.isnull(row['w_df']) else 0
    total_l_aces = row['l_ace'] if not pd.isnull(row['l_ace']) else 0
    total_l_df = row['l_df'] if not pd.isnull(row['l_df']) else 0

    if winner_id in player_profiles:
        player_profiles[winner_id]['matches'].append(match_details)
        player_profiles[winner_id]['total_w_aces'] += total_w_aces
        player_profiles[winner_id]['total_w_df'] += total_w_df
    else:
        player_profiles[winner_id] = {
            'name': row['winner_name'],
            'hand': 1 if row['winner_hand'] == 'R' else 0,
            'height': row['winner_ht'],
            'country': row['winner_ioc'],
            'age': row['winner_age'],
            'matches': [match_details],
            'total_w_aces': total_w_aces,
            'total_w_df': total_w_df,
            'total_l_aces': 0,
            'total_l_df': 0,
            'rank': -1
        }

    if loser_id in player_profiles:
        player_profiles[loser_id]['matches'].append(match_details)
        player_profiles[loser_id]['total_l_aces'] += total_l_aces
        player_profiles[loser_id]['total_l_df'] += total_l_df
    else:
        player_profiles[loser_id] = {
            'name': row['loser_name'],
            'hand': 1 if row['loser_hand'] == 'R' else 0,
            'height': row['loser_ht'],
            'country': row['loser_ioc'],
            'age': row['loser_age'],
            'matches': [match_details],
            'total_w_aces': 0,
            'total_w_df': 0,
            'total_l_aces': total_l_aces,
            'total_l_df': total_l_df,
            'rank': -1
        }

first_5_players = list(player_profiles.items())[:5]

for player_id, profile in first_5_players:
    print(profile['name'])

Frances Tiafoe
Soon Woo Kwon
Jan Lennard Struff
Thiago Monteiro
Sumit Nagal

In [5]:
# def get_player_ranking(player_name):
#     url = 'https://www.atptour.com/en/rankings/singles'
    
#     # Send a GET request to the ATP rankings page
#     response = requests.get(url)
    
#     # Check if the request was successful
#     if response.status_code == 200:
#         # Parse the HTML content of the page
#         soup = BeautifulSoup(response.content, 'html.parser')
        
#         # Find the table containing the rankings
#         rankings_table = soup.find('table', class_='mobile-table mega-table non-live')
        
#         # Check if the rankings table was found
#         if rankings_table:
#             # Find all rows in the table (skipping the header row)
#             rows = rankings_table.find_all('tr')[1:]
            
#             # Iterate over each row
#             for row in rows:
#                 # Extract player name and ranking from the row
#                 player_name_atp = row.find('td', class_='player-cell').find('a').text.strip()
#                 player_rank = row.find('td', class_='rank-cell').text.strip()
                
#                 # Check if the player name matches
#                 if player_name_atp == player_name:
#                     return player_rank
            
#             # If the player's name is not found in the rankings
#             return "Not Ranked"
#         else:
#             print("Error: Unable to find rankings table.")
#             return None
    
#     else:
#         print('Failed to retrieve ATP rankings:', response.status_code)
#         return None


# for player_id, profile in player_profiles.items():
#     player_name = profile['name']
#     print(player_name)
    
#     ranking = get_player_ranking(player_name)
    
#     profile['rank'] = ranking

# for player_id, profile in list(player_profiles.items())[:5]:
#     print(f"Player Name: {profile['name']}")
#     print(f"ATP Ranking: {profile['rank']}")
#     print()

def get_player_ranking(player_name):
    url = 'https://live-tennis.eu/en/atp-live-ranking'
    
    # Send a GET request to the ATP rankings page
    response = requests.get(url)
    
    # Check if the request was successful
    if response.status_code == 200:
        # Parse the HTML content of the page
        soup = BeautifulSoup(response.content, 'html.parser')
        
        # Find the table containing the rankings
        rankings_table = soup.find('table', class_='mobile-table mega-table non-live')
        
        # Check if the rankings table was found
        if rankings_table:
            # Find all rows in the table (skipping the header row)
            rows = rankings_table.find_all('tr')[1:]
            
            # Iterate over each row
            for row in rows:
                # Extract player name and ranking from the row
                player_name_atp = row.find('td', class_='player-cell').find('a').text.strip()
                player_rank = row.find('td', class_='rank-cell').text.strip()
                
                # Check if the player name matches
                if player_name_atp == player_name:
                    return player_rank
            
            # If the player's name is not found in the rankings
            return "Not Ranked"
        else:
            print("Error: Unable to find rankings table.")
            return None
    
    else:
        print('Failed to retrieve ATP rankings:', response.status_code)
        return None

Frances Tiafoe

AttributeError: 'NoneType' object has no attribute 'find'

In [ ]:
X = []
Y = []
for player_id, attributes in list(player_profiles.items()):
    matchesList = attributes['matches']
    for match in matchesList:
        x_components = []
        
        if match['winner'] == player_id:
            player2_id = match['loser']
        else:
            player2_id = match['winner']
        
        player2_profile = player_profiles[player2_id]
            
        if np.isnan(attributes['hand']) or np.isnan(attributes['height']) or np.isnan(attributes['age']) or np.isnan(player2_profile['hand']) or np.isnan(player2_profile['height']) or np.isnan(player2_profile['age']):
            continue
        else:
            # Player 1
            x_components.append(player_id)
            x_components.append(attributes['hand'])
            x_components.append(attributes['height'])
            #x_components.append(attributes['country'])
            x_components.append(attributes['age'])
        
            # Player 2
            x_components.append(player2_id)
            x_components.append(player2_profile['hand'])
            x_components.append(player2_profile['height'])
            #x_components.append(player2_profile['country'])
            x_components.append(player2_profile['age'])
        
            X.append(x_components)
            Y.append(match['winner'])
    

    
print("X:")
print(X)
print("Y:")
print(Y)
"""X = np.array(X)
Y = np.array(Y)"""

In [ ]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2)

In [ ]:
logModel = LogisticRegression()
logModel.fit(X_train, Y_train)

In [ ]:
Y_pred = logModel.predict(X_test)
Y_pred

In [ ]:
accuracyScore = accuracy_score(Y_test, Y_pred)
accuracyScore * 100

In [ ]:
for y_element in Y_pred:
    print(y_element)