In [15]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [11]:
df = pd.read_csv("atp_matches_1968.csv")
df

,tourney_id,tourney_name,surface,draw_size,tourney_level,tourney_date,match_num,winner_id,winner_seed,winner_entry,...,l_1stIn,l_1stWon,l_2ndWon,l_SvGms,l_bpSaved,l_bpFaced,winner_rank,winner_rank_points,loser_rank,loser_rank_points
0,1968-2029,Dublin,Grass,32.0,A,19680708,270,112411,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1968-2029,Dublin,Grass,32.0,A,19680708,271,126914,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,1968-2029,Dublin,Grass,32.0,A,19680708,272,209523,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,1968-2029,Dublin,Grass,32.0,A,19680708,273,100084,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,1968-2029,Dublin,Grass,32.0,A,19680708,274,100132,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4372,1968-T167,Hanau,NaN,NaN,A,19680822,106,147290,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4373,1968-T167,Hanau,NaN,NaN,A,19680822,107,145307,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4374,1968-T168,Narberth,Hard,NaN,A,19681002,101,147982,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4375,1968-T168,Narberth,Hard,NaN,A,19681002,102,148497,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4376,1968-T168,Narberth,Hard,NaN,A,19681002,103,148497,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
df.columns

Index(['tourney_id', 'tourney_name', 'surface', 'draw_size', 'tourney_level',
       'tourney_date', 'match_num', 'winner_id', 'winner_seed', 'winner_entry',
       'winner_name', 'winner_hand', 'winner_ht', 'winner_ioc', 'winner_age',
       'loser_id', 'loser_seed', 'loser_entry', 'loser_name', 'loser_hand',
       'loser_ht', 'loser_ioc', 'loser_age', 'score', 'best_of', 'round',
       'minutes', 'w_ace', 'w_df', 'w_svpt', 'w_1stIn', 'w_1stWon', 'w_2ndWon',
       'w_SvGms', 'w_bpSaved', 'w_bpFaced', 'l_ace', 'l_df', 'l_svpt',
       'l_1stIn', 'l_1stWon', 'l_2ndWon', 'l_SvGms', 'l_bpSaved', 'l_bpFaced',
       'winner_rank', 'winner_rank_points', 'loser_rank', 'loser_rank_points'],
      dtype='object')

In [14]:
importantData = df[['tourney_name', 'surface', 'tourney_level', 
                    'winner_name', 'winner_age', 
                    'loser_name', 'loser_age', 
                    'score']]
importantData = importantData.dropna()
importantData

,tourney_name,surface,tourney_level,winner_name,winner_age,loser_name,loser_age,score
7,Dublin,Grass,A,Lew Hoad,33.6,Jim Buckley,31.2,6-1 6-1
8,Dublin,Grass,A,Graydon Garner,23.0,Vivian Gotto,46.8,6-1 6-0
16,Dublin,Grass,A,Tom Okker,24.3,Armistead Neely,21.3,9-7 7-5
23,Dublin,Grass,A,Mark Cox,25.0,John Bartlett,20.3,6-3 6-2
24,Dublin,Grass,A,Tom Okker,24.3,Graydon Garner,23.0,6-1 6-0
...,...,...,...,...,...,...,...,...
4360,Kings Cup SF,Carpet,A,Jan Kukal,26.2,Jan Hordijk,18.8,6-4 6-2
4361,Kings Cup SF,Carpet,A,Tom Okker,24.7,Jan Kodes,22.7,5-7 6-2 7-5 6-0
4362,Kings Cup Final,Carpet,A,Tom Okker,24.7,Ove Bengtson,23.6,14-12 6-4
4363,Kings Cup Final,Carpet,A,Martin Carlstein,26.5,Jan Hordijk,18.8,6-4 6-3
4364,Kings Cup Final,Carpet,A,Ove Bengtson,23.6,Tom Okker,24.7,1-6 4-6 7-5 6-3 6-4

In [ ]:
X = importantData[['tourney_name', 'surface', 'tourney_level', 'winner_age', 'loser_name', 'loser_age']]
Y = importantData[['winner_name']]